# ConvertKit API Configuration
CONVERTKIT_API_KEY=BAoYSHafzQkugr9R-4qMcg
CONVERTKIT_API_SECRET=9b70_j5a88jpy2SJbjXeOslH_48FkIarHbpql7gpbz0
CONVERTKIT_FORM_ID=  # You need to create a form in ConvertKit and add the ID here

# Optional: Add any other environment variables
NEXT_PUBLIC_SITE_URL=https://aliff.app
NODE_ENV=production